.footer-distributed{
	background-color: white;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
	font-size: 1.125em;
}

.textoBot {
	color: gray;
}


@media (min-width: 1024px) {
    .footer-distributed{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
	.information {
		line-height: 50px;
	}	
}

@media (min-width: 768px) {

}

@media (min-width: 414px) {
  

}