@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html,
body {
  height: 100%;
}

body {
  font: Arial, Helvetica, sans-serif;
  display: table;
  width: 100%;
}

p {
    font-family: "Verdana", Times, serif;
    color: white;
}

#texto {
    position: absolute;
    margin-top: -60%;
    margin-left: 50%;
}

.container-fluid {
    max-width: 100%;
    width:100%;
    height: 100%;
    margin-top:-6px;
    position:relative;
    background-color: white;
}

.main {
    width:100%;
    height: 20%;
    margin-top:-17px;
    position: relative;
}

.img {
    max-width: 100%;   
    width: 100%;
    height: auto;  
    display: block;
}

.botao {
    margin-left:55%;
    margin-top:-116%;
    height: auto; 
    position: relative;

}

.imgDetalhe {
    margin-top:-40%;
    max-width: 100%;   
    min-height: 290px; 
    height: auto; 
    position: 'absolute';
}

.imgHomem {
    margin-left:13%;
    margin-top:-65%;
    max-width: 30%;
    min-width: 200px; 
    height: auto; 
    position: 'absolute';
}

.imgTubo {
    margin-left:9%;
    margin-top:-33%;
    max-width: 80%;   
    min-width: 450px; 
    height: auto; 
    position: 'absolute';
}

.navItem {
    margin-top: 3%;
    margin-bottom: 2%;
    max-width: 33%;   
    display: block;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.textoInput {
     width: 80%; margin: 0 auto;
}

.iconInput { position: relative; padding: 0.4%; width: 80%; margin: 0 auto}
.iconInput input { padding-left: 28px }
.iconInput i { position: absolute; padding: 9px 10px }

*{
	padding:0;
	margin:0;
}

footer {
    background-color: white;
	position: static;
	bottom: 0;
}

.inscricao {
    width: 100%;
    padding: 5%;
    display: inline-block;
    vertical-align: middle;;
}

.banners {
    align-items: center;
   display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
}


@media only screen and (max-height:800px){
	footer { position: static; }
}

@media only screen and (min-height: 1024px) {
    .inscricao{
        padding-bottom: 20%;
    }
}

@media only screen and (min-width: 768px) {
     principal {
        font-size: 1.125em;
    }
    p {
        font-size: 1.125em;
    }
}

@media only screen and (min-width: 414px) {
    principal {
        font-size: 1.025em;
    }
}

@media only screen and (min-width: 1024px) {
    .inscricao{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    sectionForm {
        margin: -3% auto;   
    }
      principal {
        font-size: 1.125em;
    }

    .imgDetalhe {
        margin-top:-30%;

    }
}