<principal>
  <nav class="navbar navbar-default">
    <div class="container-fluid"> 
      <div class="banners">
            <img src="assets/img/LOGO EPOSTOS.png" class="navItem">
            <img src="assets/img/LOGO KPS.png" class="navItem">
            <img src="assets/img/LOGO OPW.png" class="navItem">
       </div>
      </div>      
    </div>
  </nav>

  <div class="main">
      <img src="assets/img/BG_POSTO.png" class="responsive-img img">
      
      <div class="col-md-12">
        <div id="texto">
          <h3><p>Simpósio para Tubos <br>&ensp; Condutiveis KPS</p></h3>
        </div>
      </div>
      <img src="assets/img/IMG_HOMEM.png" class="responsive-img imgHomem">
      <img src="assets/img/DETALHE BG.png" class="responsive-img imgDetalhe">
      <img src="assets/img/foto tubo kps.png" class="responsive-img imgTubo">

      <div class="col-md-12">
        <a type="button" class="btn btn-lg btn-info botao" href="" ng-click="bot();"> Inscreva-se</a>
      </div>
  </div>

  <div class="inscricao">
    <div class="row">
      <section class="col-md-7 col-sm-12 col-xs-12">
              <p>O evento e a certificação para  instaladores serão oferecidos gratuitamente pela E-postos.
              Hotel Vila Rica, Av. Boa Viagem, 4308 - Boa Viagem, RECIFE-PE
              30 de março das 09h às 17h. 
              <p class="text-left">&ensp; &ensp;• A importância da condutividade nos postos de combustíveis;<br>
              &ensp; &ensp;•	Nova geração de tubos em PEAD;<br>
              &ensp; &ensp;•	Nova linha de materiais periféricos da OPW;<br>
              &ensp; &ensp;•	Controle de inventário através de sistema eletrônico;<br>
              &ensp; &ensp;•	Apresentação das novas empresas do Grupo Dover;
              </p>
        </section>

        <sectionForm class="col-md-5 col-sm-12 col-xs-12">
          <div class="textoInput">
          <h2><p class="text-center">Inscreva-se aqui</p></h2>
            <form name="form">
              <div class="iconInput">
                <i class="glyphicon glyphicon-exclamation-sign" ng-show="form.nome.$error.required"></i>
                <input type="text" class="form-control" name="nome" ng-model="nome" placeholder="Nome" ng-required="true">
              </div>
              <div class="iconInput">
                <i class="glyphicon glyphicon-exclamation-sign" ng-show="form.email.$error.email || form.email.$error.required"></i>
                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email" ng-required="true">  
              </div>
              <div class="iconInput">
                <i class="glyphicon glyphicon-exclamation-sign" ng-show="form.telefone.$error.required"></i>
                <input type="text" class="form-control" name="telefone" ng-model="telefone" placeholder="Telefone" ng-required="true">
              </div>
            </form>

            <a type="button" class="btn btn-lg btn-primary" style="position: absolute; margin-left:8%; width: 60%" ng-show="!form.$invalid" ng-click="enviarDados()">Enviar</a>


          <div class="alert alert-success alert-dismissable fade in" ng-if="confirm">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Obrigado por se cadastrar, em breve entraremos em contato.</strong>
          </div>
        </div>
      </sectionForm>
    </div>
  </div>


  <footer class="footer-distributed"> 
    <div class="row">
      <div class="information">
        <div class="textoBot col-md-8 col-sm-12 col-xs-12">contato@postosnordeste.com.br</div>
        <div class="textoBot2 col-md-4 col-sm-12 col-xs-12"><a href="https://www.facebook.com/"><img src="assets/img/ICONE_FACEBOOK.png"> /epostos</a></div>
      </div>
    </div>
  </footer>
</principal>